---
layout: page
title: Contact
subtitle:
---
{% include JB/setup %}

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-8">
            <div class="google-map">
              <iframe src="{{ site.contact.map_source }}" width="600" height="450" frameborder="0"></iframe>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <h3>Contact Details</h3>
            {% if site.contact.address %}<p>{{ site.contact.address }}</p>{% endif %}
            {% if site.contact.telephone %}<p><i class="fa fa-phone"></i> {{ site.contact.telephone }}</p>{% endif %}
            {% if site.contact.email %}<p><i class="fa fa-envelope-o"></i> <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></p>{% endif %}
            {% if site.contact.operating_hours %}<p><i class="fa fa-clock-o"></i><abbr title="Hours">H</abbr>: {{ site.contact.operating_hours }}</p>{% endif %}
            <ul class="list-unstyled list-inline list-social-icons">
              {% if site.footer.social.facebook %}<li><a href="{{ site.footer.social.facebook }}"><i class="fa fa-facebook-square fa-2x"></i></a></li>{% endif %}
              {% if site.footer.social.twitter %}<li><a href="{{ site.footer.social.twitter }}"><i class="fa fa-twitter-square fa-2x"></i></a></li>{% endif %}
              {% if site.footer.social.linkedin %}<li><a href="{{ site.footer.social.linkedin }}"><i class="fa fa-linkedin-square fa-2x"></i></a></li>{% endif %}
              {% if site.footer.social.google_plus %}<li><a href="{{ site.footer.social.google_plus }}"><i class="fa fa-google-plus-square fa-2x"></i></a></li>{% endif %}
              {% if site.footer.social.pinterest %}<li><a href="{{ site.footer.social.pinterest }}"><i class="fa fa-pinterest-square fa-2x"></i></a></li>{% endif %}
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <h3>Send us a Message</h3>
            <form name="sentMessage" id="contactForm" method="post" action="//forms.brace.io/{{ site.contact.email }}">
              <input type="hidden" name="_next" value="{{ BASE_PATH }}{{ site.path.contact }}#success-confirmation" />
              <div class="control-group form-group">
                <div class="controls input-group">
                  <span class="js-random-color input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="Full Name" name="name" required minlength="2" />
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls input-group">
                  <span class="js-random-color input-group-addon"><i class="fa fa-phone"></i></span>
                  <input type="tel" class="form-control" placeholder="Phone Number" name="phone" required />
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls input-group">
                  <span class="js-random-color input-group-addon"><i class="fa fa-envelope-o"></i></span>
                  <input type="email" class="form-control" placeholder="Email Address" name="_replyto" required />
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls input-group">
                  <span class="js-random-color input-group-addon"><i class="fa fa-pencil"></i></span>
                  <textarea rows="10" cols="100" class="form-control" placeholder="Message" id="message" name="message" required maxlength="999"></textarea>
                </div>
              </div>
              <div id="success-confirmation" class="hidden">
                <div class="alert alert-success">
                  <strong>Success!</strong> Your message has been sent successfully.
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">Send Message</button>
            </form>
          </div>
        </div>
