---
layout: page
---
{% include JB/setup %}

      <div id="homepage-feature" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#homepage-feature" data-slide-to="0" class="active"></li>
          <li data-target="#homepage-feature" data-slide-to="1"></li>
          <li data-target="#homepage-feature" data-slide-to="2"></li>
          <li data-target="#homepage-feature" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/carousel-1.jpg" alt="carousel-1">
            <div class="container">
              <div id="jumbotron-1" class="carousel-caption jumbotron">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="img/category-1.png" alt="category-1">
                  </a>
                  <div class="media-body">
                    <h1 class="media-heading">Example headline</h1>
                    <p>Using healthy packaging is our footprint on the planet every day.</p>
                    <p><a class="btn btn-lg btn-primary pull-right" href="#" role="button">Learn more <span class="icon fa fa-arrow-circle-right"></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="img/carousel-2.jpg" alt="carousel-2">
            <div class="container">
              <div id="jumbotron-2" class="carousel-caption jumbotron">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="img/category-2.png" alt="category-2">
                  </a>
                  <div class="media-body">
                    <h1 class="media-heading">Example headline</h1>
                    <p>Using healthy packaging is our footprint on the planet every day.</p>
                    <p><a class="btn btn-lg btn-primary pull-right" href="#" role="button">Learn more <span class="icon fa fa-arrow-circle-right"></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="img/carousel-3.jpg" alt="carousel-3">
            <div class="container">
              <div id="jumbotron-3" class="carousel-caption jumbotron">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="img/category-3.png" alt="category-3">
                  </a>
                  <div class="media-body">
                    <h1 class="media-heading">Example headline</h1>
                    <p>Using healthy packaging is our footprint on the planet every day.</p>
                    <p><a class="btn btn-lg btn-primary pull-right" href="#" role="button">Learn more <span class="icon fa fa-arrow-circle-right"></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="img/carousel-4.jpg" alt="carousel-4">
            <div class="container">
              <div id="jumbotron-4" class="carousel-caption jumbotron">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="img/category-4.png" alt="category-4">
                  </a>
                  <div class="media-body">
                    <h1 class="media-heading">Example headline</h1>
                    <p>Using healthy packaging is our footprint on the planet every day.</p>
                    <p><a class="btn btn-lg btn-primary pull-right" href="#" role="button">Learn more <span class="icon fa fa-arrow-circle-right"></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="#homepage-feature" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#homepage-feature" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- /#homepage-feature.carousel -->

      <div class="page-contents container">
        {% for marketing_line in site.data.marketing_lines %}
          {% assign modulo = forloop.index0 | modulo: 3 %}
          {% if modulo == 0 %}
            {% unless forloop.first %}
        </div><!-- /.row -->
            {% endunless %}
        <div class="row">
          {% endif %}
          <div class="col-sm-4">
            <h1>{{ marketing_line.header }}</h1>
            <p>{{ marketing_line.body }}</p>
            {% if marketing_line.path and marketing_line.label %}
            <p><a class="btn btn-primary pull-right" href="{{ marketing_line.path }}" role="button">{{ marketing_line.label }} <span class="icon fa fa-arrow-circle-right"></span></a></p>
            {% endif %}
          </div>
          {% if forloop.last %}
        </div><!-- /.row -->
          {% endif %}
        {% endfor %}
      </div><!-- /.container -->
