---
layout: index
---
{% include JB/setup %}

      <div id="headlines" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for headline in site.data.headlines %}
          <li data-target="#headlines" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% for headline in site.data.headlines %}
          <div class="item{% if forloop.first %} active{% endif %}">
            {% if headline.image.carousel %}
            <span data-picture data-alt="">
              {% assign filename_comps =  headline.image.carousel | split: '.' %}
              {% capture small_version_url %}{% for comp in filename_comps %}{% if forloop.last %}-sm.{% endif %}{{ comp }}{% endfor %}{% endcapture %}
              <span data-src="{{ BASE_PATH }}/{{ small_version_url }}"></span>
              <span data-src="{{ BASE_PATH }}/{{ headline.image.carousel }}" data-media="(min-width: 640px)"></span>
              <!--[if (lt IE 9) & (!IEMobile)]>
                <span data-src="{{ BASE_PATH }}/{{ headline.image.carousel }}"></span>
              <![endif]-->
              <noscript>
                <img src="{{ BASE_PATH }}/{{ headline.image.carousel }}" alt="">
              </noscript>
            </span>
            {% endif %}
            <div class="carousel-caption jumbotron">
              <div class="media">
                {% if headline.link %}
                  {% assign link_comps = headline.link | split: ' => ' %}
                {% else %}
                  {% assign link_comps = '|{{ site.path.products }}' | split: '|' %}
                {% endif %}
                {% if headline.image.product %}
                <a class="pull-left" href="{{ BASE_PATH }}{{ link_comps[1] }}">
                  <img class="media-object" src="{{ BASE_PATH }}/{{ headline.image.product }}" alt="link to {{ link_comps[1] }}">
                </a>
                {% endif %}
                <div class="media-body">
                  <h1 class="media-heading">{{ headline.header }}</h1>
                  <p>{{ headline.body }}{% if headline.body-extra %} <span class="extra">{{ headline.body-extra }}</span>{% endif %}</p>
                  {% if headline.link %}
                  <p><a class="btn btn-lg btn-primary pull-right" href="{{ BASE_PATH }}{{ link_comps[1] }}" role="button">{{ link_comps[0] }}<span class="icon fa fa-arrow-circle-right"></a></p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div><!-- /.carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="{{ BASE_PATH }}/#headlines" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="{{ BASE_PATH }}/#headlines" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- /#headlines.carousel -->

      <div class="marketing container">
        <div class="masonry row">
        {% for marketing_line in site.data.marketing_lines %}
          <div class="item col-sm-4">
            <h1>{{ marketing_line.header }}</h1>
            <p>{{ marketing_line.body }}</p>
            {% if marketing_line.link %}
              {% assign comps = marketing_line.link | split: ' => ' %}
            <p><a class="btn btn-primary pull-right" href="{{ BASE_PATH }}{{ comps[1] }}" role="button">{{ comps[0] }}<span class="icon fa fa-arrow-circle-right"></span></a></p>
            {% endif %}
          </div>
        {% endfor %}
        </div><!-- /.row -->
      </div><!-- /.container -->
