---
layout: index
---
{% include JB/setup %}

      <div id="headlines" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for headline in site.data.headlines %}
          <li data-target="#headlines" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% for headline in site.data.headlines %}
          <div class="item{% if forloop.first %} active{% endif %}">
            {% if headline.image.carousel %}
              {% assign comps = headline.image.carousel | split: ' => ' %}
            <img src="{{ BASE_PATH }}/{{ comps[1] }}" alt="{{ comps[0] }}">
            {% else %}
            <img src="{{ BASE_PATH }}/img/logo.png" alt="{{ site.owner.name }}">
            {% endif %}
            <div class="container">
              <div class="carousel-caption jumbotron">
                <div class="media">
                  {% if headline.link %}
                    {% assign link_comps = headline.link | split: ' => ' %}
                  {% else %}
                    {% assign link_comps = '|{{ site.path.products }}' | split: '|' %}
                  {% endif %}
                  {% if headline.image.product %}
                    {% assign comps = headline.image.product | split: ' => ' %}
                  <a class="pull-left" href="{{ BASE_PATH }}/{{ link_comps[1] }}">
                    <img class="media-object" src="{{ BASE_PATH }}/{{ comps[1] }}" alt="{{ comps[0] }}">
                  </a>
                  {% endif %}
                  <div class="media-body">
                    <h1 class="media-heading">{{ headline.header }}</h1>
                    <p>{{ headline.body }}{% if headline.body-extra %} <span class="extra">{{ headline.body-extra }}</span>{% endif %}</p>
                    {% if headline.link %}
                    <p><a class="btn btn-lg btn-primary pull-right" href="{{ BASE_PATH }}/{{ link_comps[1] }}" role="button">{{ link_comps[0] }}<span class="icon fa fa-arrow-circle-right"></a></p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div><!-- /.carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="{{ BASE_PATH }}/#headlines" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="{{ BASE_PATH }}/#headlines" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- /#headlines.carousel -->

      <div class="marketing container">
        {% for marketing_line in site.data.marketing_lines %}
          {% assign modulo = forloop.index0 | modulo: 3 %}
          {% if modulo == 0 %}
            {% unless forloop.first %}
        </div><!-- /.row -->
            {% endunless %}
        <div class="row">
          {% endif %}
          <div class="col-sm-4">
            <h1>{{ marketing_line.header }}</h1>
            <p>{{ marketing_line.body }}</p>
            {% if marketing_line.link %}
              {% assign comps = marketing_line.link | split: ' => ' %}
            <p><a class="btn btn-primary pull-right" href="{{ BASE_PATH }}/{{ comps[1] }}" role="button">{{ comps[0] }}<span class="icon fa fa-arrow-circle-right"></span></a></p>
            {% endif %}
          </div>
          {% if forloop.last %}
        </div><!-- /.row -->
          {% endif %}
        {% endfor %}
      </div><!-- /.container -->
