---
layout: page
title: Products
tagline: Non woven reusable bags
group: navigation
spy: products-list
spy-offset: 21
---
{% include JB/setup %}
{% include custom/sort_categories_list %}

        <div class="row">
          <div class="col-xs-12 col-sm-3 col-lg-2">
            <nav role="tablist" id="products-list" data-spy="affix" data-offset-top="164">
              <ul class="nav nav-pills nav-stacked">
                {% include JB/categories_list %}
              </ul>
            </nav>
          </div>

          <div class="col-xs-12 col-sm-9 col-lg-10">
{% for category in sorted_categories_list %}
  <h2 id="{{ category }}-ref">{{ category }}</h2>
  <ul>
    {% assign pages_list = site.categories[category] %}
    {% include JB/pages_list %}
    <div style="height:1000px"/>
  </ul>
{% endfor %}

          </div>
        </div>
