---
layout: page
title: Products
tagline: Non woven reusable bags
group: navigation
spy: products-list
spy-offset: 21
---
{% include JB/setup %}

        <div class="row">
          <div class="col-xs-12 col-sm-3 col-lg-2">
            <nav role="tablist" id="products-list" data-spy="affix" data-offset-top="164">
              <ul class="nav nav-pills nav-stacked">
                {% include custom/sort_categories_list %}
                {% include JB/categories_list %}
              </ul>
            </nav>
          </div>

          <div class="col-xs-12 col-sm-9 col-lg-10">
          {% for category in sorted_categories_list %}
            {% capture capitalized_category %}
              {% assign words = category | split:"-" %}
              {% for word in words %}
                {{ word | capitalize }}
              {% endfor %}
            {% endcapture %}
            {% assign capitalized_category = capitalized_category | split:" " | join %}
            <section class="row">
              <h2 id="{{ category }}-ref">{{ capitalized_category }}</h2>
              <div class="masonry">
                {% assign posts_collate = site.categories[category] %}
                {% include JB/posts_collate %}
              </div>
            </section>
          {% endfor %}
          </div>
        </div>
