a.btn-primary.pull-right span.fa-arrow-circle-right {
  margin-left: 0.25em;
}

.marketing {
  padding-bottom: 40px;

  h1 {
    font-size: @font-size-h3;
  }

  [class*="col-"] {
    padding-top: 20px;

    @media (max-width: @screen-xs-max) {
      clear: both;
    }
  }

  .icon-tiny {
    font-size: 0.35em;
    vertical-align: middle;
  }

  @media (min-width: @screen-xs-min) {
    .icon-tiny {
      font-size: 0.5em;
    }
  }
}

.page-header {
  h1 small {
    margin-left: 0.5em;
    color: @brand-secondary;

    @media screen and (max-width: @screen-xs-max) {
      display: block;
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  blockquote small {
    display: none;
  }
}

.thumbnail {
  padding: 0 15px 0 0;
  border: none;

  > a {
    display: block;
    border: 1px solid @thumbnail-border;

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: @navbar-default-link-hover-color;
    }

    .caption {
      background-color: @navbar-default-bg;
      blockquote {
        border-left-color: @brand-secondary;
        small {
          color: @brand-secondary;
        }
      }
      h3 {
        color: @navbar-default-link-color;
      }
    }
  }
}

section.row {
  padding-left: 15px;

  h2 {
    margin-bottom: 20px;
  }
  &:first-of-type h2 {
    margin-top: 0;
  }
}

.masonry {
  padding-bottom: 15px;
  border-bottom: 1px solid @page-header-border-color;
}

#products-list {
  margin-bottom: 20px;
}
