a.btn-primary.pull-right span.fa-arrow-circle-right {
  margin-left: 0.25em;
}

.marketing {
  padding-bottom: (@line-height-computed * 2);

  h1 {
    font-size: @font-size-h3;
  }

  [class*="col-"] {
    padding-top: @line-height-computed;

    @media (max-width: @screen-xs-max) {
      clear: both;
    }
  }

  .icon-tiny {
    font-size: 0.35em;
    vertical-align: middle;
  }

  @media (min-width: @screen-xs-min) {
    .icon-tiny {
      font-size: 0.5em;
    }
  }
}

.page-header {
  h1 small {
    margin-left: 0.5em;
    color: @brand-secondary;

    @media screen and (max-width: @screen-xs-max) {
      display: block;
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  blockquote small {
    display: none;
  }
}

.thumbnail {
  padding: 0 15px 0 0;
  border: none;

  > a {
    display: block;
    border: 1px solid @thumbnail-border;

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: @navbar-default-link-hover-color;
    }

    .caption {
      background-color: @navbar-default-bg;
      blockquote {
        border-left-color: @gray;
        small {
          color: @gray;
        }
      }
      h3 {
        color: @navbar-default-link-color;
      }
    }
  }
}

section {
  .row {
    padding-left: 15px;

    h2 {
      margin-bottom: @line-height-computed;
    }
  }

  &:not(:last-of-type) .masonry {
    padding-bottom: (@line-height-computed * 2);
  }
}

#products-list {
  margin-top: @line-height-computed;
  @media screen and (max-width: @screen-xs-max) {
    margin-bottom: @line-height-computed;
    padding-bottom: @line-height-computed;
    border-bottom: 1px solid @page-header-border-color;
  }
}

.back-to-top {
  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media screen and (min-width: @screen-sm-min) {
    display: none;
  }
}
