{% assign array = site.categories.blog %}
{% assign index = 0 %}
{% for post in array %}
  {% if post.id == page.id %}
    {% break %}
  {% endif %}
  {% assign index = index | plus: 1 %}
{% endfor %}
        <ul class="blog pager">
        {% assign sizemin1 = array.size | minus : 1 %}
        {% if index < sizemin1  %}
          {% assign next = index | plus : 1 %}
          <li><a href="{{ BASE_PATH }}{{ array[next].url }}">&laquo; Older</a></li>
        {% else %}
          <li class="disabled"><a>&laquo; Older</a>
        {% endif %}
        {% if index > 0 %}
          {% assign prev = index | minus : 1 %}
          <li><a href="{{ BASE_PATH }}{{ array[prev].url }}">Newer &raquo;</a></li>
        {% else %}
          <li class="disabled"><a>Newer &raquo;</a></li>
        {% endif %}
        </ul>
        <h2>{{ page.title }}<a href="{{ BASE_PATH }}{{ site.path.saving_gaia }}"><button type="button" class="btn btn-link pull-right">Back</button></a></h2>
        <p><i class="fa fa-clock-o"></i> Posted on {{ page.date | date: "%e %B %Y" }}</p>
      {% if page.image %}
        <img class="img-responsive img-blog pull-left" src="{{ BASE_PATH }}{{ page.image }}" width="600" />
      {% endif %}
        {{ content }}
