<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}{%if page.heading-title %} - {{ page.heading-title }}{% elsif page.title %} - {{ page.title }}{% endif %}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.tagline}}">
    {% endif %}

    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="{{ BASE_PATH }}/css/main.css">
    <!-- Modernizr -->
    <script src="{{ BASE_PATH }}/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
      <script src="{{ BASE_PATH }}/js/vendor/respond-1.4.2.min.js"></script>
    <![endif]-->
  </head>

  <body{% if index %} class="index"{% endif %}{% if page.spy %} data-spy="scroll" data-target="#{{ page.spy }}" data-offset="{{ page.spy-offset }}"{% endif %}>
    <!--[if lte IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header role="banner">
      <div class="navbar-wrapper">
        <nav role="navigation" class="navbar navbar-static-top navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ HOME_PATH }}"><img src="{{ BASE_PATH }}/img/logo.png" alt="{{ site.owner.name }}"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li{% unless page.title %} class="active"{% endunless %}><a href="{{ HOME_PATH }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li{% if page.title == 'Products' %} class="active"{% endif %}><a href="{{ BASE_PATH }}{{ site.path.products }}"><span class="glyphicon glyphicon-leaf"></span> Products</a></li>
                <li{% if page.title == 'Features' %} class="active"{% endif %}><a href="{{ BASE_PATH }}{{ site.path.features }}"><span class="glyphicon glyphicon-ok"></span> Features</a></li>
                <li{% if page.title == 'Contact' %} class="active"{% endif %}><a href="{{ BASE_PATH }}{{ site.path.contact }}"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                <li{% if page.title == 'Saving Gaia' %} class="active"{% endif %}><a href="{{ BASE_PATH }}{{ site.path.saving_gaia }}"><span class="glyphicon glyphicon-globe"></span> Saving Gaia</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container -->
        </nav>
      </div>
    </header>

    <main role="main">
        {{ content }}
    </main>

    <footer role="contentinfo">
      <p><a href="{{ HOME_PATH }}"><img src="{{ BASE_PATH }}/img/logo.png" alt="{{ site.owner.name }}" width="80"></a></p>
      <ul class="social">
        {% if site.owner.facebook %}<li><a href="{{ site.owner.facebook }}" title="Facebook Page"><span class="icon fa fa-facebook"></span></a></li>{% endif %}
        {% if site.owner.twitter %}<li><a href="{{ site.owner.twitter }}" title="Twitter Profile"><span class="icon fa fa-twitter"></span></a></li>{% endif %}
        {% if site.owner.linkedin %}<li><a href="{{ site.owner.linkedin }}" title="LinkedIn Profile"><span class="icon fa fa-linkedin"></span></a></li>{% endif %}
        {% if site.owner.google_plus %}<li><a href="{{ site.owner.google_plus }}" title="Google+ Profile"><span class="icon fa fa-google-plus"></span></a></li>{% endif %}
        {% if site.owner.pinterest %}<li><a href="{{ site.owner.pinterest }}" title="Pinterest Profile"><span class="icon fa fa-pinterest"></span></a></li>{% endif %}
      </ul>
      <p><small>Copyright &#169; 2014 Mussen PTE LTD. All right reserved.</small></p>
    </footer>

    {% include JB/analytics %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ BASE_PATH }}/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ BASE_PATH }}/js/vendor/bootstrap-3.1.1.min.js"></script>
    <script src="{{ BASE_PATH }}/js/vendor/masonry-3.1.5.min.js"></script>
    <script src="{{ BASE_PATH }}/js/vendor/imagesloaded-3.1.8.min.js"></script>
    <script src="{{ BASE_PATH }}/js/main.js"></script>
  </body>
</html>
