{% capture capitalized_category %}
  {% assign words = page.category | split:"-" %}
  {% for word in words %}
    {{ word | capitalize }}
  {% endfor %}
{% endcapture %}
{% assign capitalized_category = capitalized_category | split:" " | join %}

{% assign array = site.categories[page.category] %}
{% assign index = 0 %}
{% for post in array %}
  {% if post.id == page.id %}
    {% break %}
  {% endif %}
  {% assign index = index | plus: 1 %}
{% endfor %}
        <ul class="product pager">
        {% if index > 0 %}
          {% assign prev = index | minus : 1 %}
          <li><a href="{{ BASE_PATH }}{{ array[prev].url }}">&laquo; Prev</a></li>
        {% else %}
          <li class="disabled"><a>&laquo; Prev</a></li>
        {% endif %}
        {% assign sizemin1 = array.size | minus : 1 %}
        {% if index < sizemin1  %}
          {% assign next = index | plus : 1 %}
          <li><a href="{{ BASE_PATH }}{{ array[next].url }}">Next &raquo;</a></li>
        {% else %}
          <li class="disabled"><a>Next &raquo;</a>
        {% endif %}
        </ul>
        <h2><a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ page.category }}-ref">{{ capitalized_category }}</a></h2>
        <div class="product-detail product-info row">
          <div class="col-sm-8">
            <img class="img-responsive" src="{{ BASE_PATH }}/{{ page.image.url }}" alt="Product image" />
          </div>
          <div class="col-sm-4">
            {% assign chunks = page.description | split: ' - ' %}
            <blockquote>{{ chunks[0] }}{% if chunks[1] %}<small>{{ chunks[1] }}</small>{% endif %}</blockquote>
            {{ content }}
          </div>
        </div>
        {% unless page.tags == empty %}
          {% assign tags_list = page.tags %}
          {% include custom/related_posts%}
        {% endunless %}
