{% capture capitalized_category %}
  {% assign words = page.category | split:"-" %}
  {% for word in words %}
    {{ word | capitalize }}
  {% endfor %}
{% endcapture %}
{% assign capitalized_category = capitalized_category | split:" " | join %}

        <ul class="product pager">
        {% if page.previous %}
          <li><a href="{{ BASE_PATH }}{{ page.previous.url }}">&laquo; Previous</a></li>
        {% else %}
          <li class="disabled"><a>&laquo; Previous</a></li>
        {% endif %}
        {% if page.next %}
          <li><a href="{{ BASE_PATH }}{{ page.next.url }}">Next &raquo;</a></li>
        {% else %}
          <li class="disabled"><a>Next &raquo;</a>
        {% endif %}
        </ul>
        <h2>{{ capitalized_category }}</h2>
        <div class="product-detail product-info row">
          <div class="col-sm-8">
            <img class="img-responsive" src="{{ BASE_PATH }}/{{ page.image.url }}" alt="Product image" />
          </div>
          <div class="col-sm-4">
            {% assign chunks = page.description | split: ' - ' %}
            <blockquote>{{ chunks[0] }}{% if chunks[1] %}<small>{{ chunks[1] }}</small>{% endif %}</blockquote>
            {{ content }}
          </div>
        </div>
        {% unless page.tags == empty %}
          {% assign tags_list = page.tags %}
          {% include custom/related_posts%}
        {% endunless %}
